.popover {
    max-width: 600px;
    width: auto;
}

.clickable {
    cursor: pointer;
}

.dropdown-icons {
    min-width: 4rem;
}

.dropdown-icons2 {
    min-width: 12rem;
}

.check-tags {
    margin-top: 5px;
    margin-bottom: 5px;
}

.no-margin-botton {
    margin-bottom: 1px;
    padding-left: 5px;
    padding-right: 5px;

}

.no-padding-table {

    padding-top: 0px;
    padding-bottom: 0px;
}

.no-margin-top {
    margin-top: 1px;
}

.mdb-select-small-height {
    height: 50px;
}

.margin-top-5px {
    padding-left: 0px;
    padding-right: 0px;

}

my-icons-action {

    margin-left: 5px;

    margin-right: 5px;
}

img.sold {
    position: absolute;
    right: 30px;
    bottom: 10px;

}

ul.horizontal {
    list-style-type: none;
    margin: 2px;
    padding: 2px;
    overflow: hidden;

}

.tag-panel {

    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;

}

.searching_tags_div {
    height: 40px;
}

li.horizontal {
    float: left;
}

div.no-padding-right-left {
    padding-left: 0px;
    padding-right: 0px;
}

table#user_detail_view td {
    padding: 0px;
!important;
    padding-left: 10px;
!important;
    margin: 5px;
!important;
}

table#user_detail_view tr {
    padding: 2px;
!important;
    margin: 2px;
!important;
}

table#user_detail_view th {
    padding: 2px;
!important;
    margin: 2px;
!important;
}

.pricing-card .price h1:before, .pricing-card .price h2:before {
    content: "";
    font-size: 30px;
    position: absolute;
    margin-left: -1.2rem;
    margin-top: 0.7rem;
}

.pricing-card .price h1:after, .pricing-card .price h2:after {
    content: "руб";
    font-size: 30px;
    position: absolute;
    margin-top: 3rem;
}

.statistic table.table-sm th, table.table-sm td {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.on-non-mobile {
. d-none;
. d-lg-block;
. d-xl-block;
}

.on-mobile {
. d-block;
. d-sm-block;
. d-md-none
}

.border-tag {
    border: 2px solid #0b17dc !important;
    margin: -2px;
}

.row-checked-ban {
    background-color: #9e9e9e;
}
.row-checked-stars {
    background-color: #69f0ae;
}
.row-checked {
    background-color: white;
}
