/* REGULAR */

@font-face {
    font-family: 'Lato';
    src: url('./lato-regular.woff2?') format('woff2'),
    url('./lato-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('./lato-italic.woff2') format('woff2'),
    url('./lato-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

/* BOLD */

@font-face {
    src: url('./lato-bold.woff2') format('woff2'),
    url('./lato-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Lato';
    src: url('./lato-bolditalic.woff2') format('woff2'),
    url('./lato-bolditalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}








